<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>

  </head>

  <body>

    <nav class="container">
      <a href="http://localhost:8000/"> Home </a>
    </nav>
    <div class="container hero">
      <table>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Unit Cost</th>
          <th>Total Cost</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        {{#each products}}
          <tr>
            <td id="itemValue">{{item}}</td>
            <td id="quantity">{{quantity}}</td>
            <td id="unit_cost">${{unit_cost}}</td>
            <td id="total_cost">${{total_cost}}</td>
              <td><a href="products/edit/{{id}}">
              <i
                  class="fa fa-edit"
                  style="font-size:24px"
                ></i></a>
            </td>
            <td>
                <a id-value = "{{_id}}" 
                id="delete-btn">
                <i class="fa fa-remove" 
                style="font-size:24px"></i></a>
            </td>
          </tr>
        {{/each}}
        <tr>
          <td class="new-product">
            <a href="products/createProduct">Add New Product</a>
          </td>
        </tr>
      </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"></script>
    <script>
    const id = document.querySelector("#idValue")
    const item= document.querySelector("#itemValue")
    const deleteBtn = document.querySelector("#delete-btn");
     // async function deleteProduct(e) { 
    deleteBtn.addEventListener('click', async (e)=>{
        e.preventDefault();
        let idValue = deleteBtn.getAttribute('id-value')

        if(confirm(`Are you sure you want to delete ITEM?`)){
        try{
            let response = await axios.delete(`/${idValue}`)
                console.log(response)
                alert(`Item is deleted`)
                location.reload();
            }
        
        catch (error) {
            console.error(error)
        }
        }
    })

    </script>

  </body>

</html>